/* STYLING FOR THE ENTIRE PAGE */
* {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* STYLING FOR THE HEADER OF THE PAGE */
.header {
    background-color: #173e71;
    color: white;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* STYLING FOR THE RIGHT SIDE OF THE HEADER */
.links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

/* STYLING FOR THE INFORMATION BLOCK */
.information{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #377fc1;
}

/* THIS IS THE SIGNUP BAR */
.signup {
    display: flex;
}

/* STYLING FOR THE LEFT SIDE OF THE BLOCK */
.information-1 {
    justify-content: flex-start;
    align-content: center;
    width: 500px;
    height: 500px;
}

/* STYLING FOR THE INFORMATION HEADER */
.information-header {
    margin-bottom: 15px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    gap: 15px;
}

/* STYLING FOR THE INFORMATION TEXT */
.information-text {
    margin-bottom: 15px;
    text-align: justify;
    font-size: 18px;
    color: #E5E7EB;
}

/* STYLING FOR THE CALL TO ACTION BUTTON */
.call-to-action-button {
    padding: 15px;
    background-color: #3882F6;
    color: #FFFFFF;
    padding: 12px;
    width: 100px;
    border-radius: 8px;
    border-color: 1px solid white;
}

/* STYLING FOR THE MAIN IMAGE ENSURING IT DOESN'T OVERFLOW */
.main-image {
    padding: 100px;
    width: 580px;   
    height: 325px;  
    border-radius: 8px;
    overflow: hidden; 
}

/* STYLING FOR THE MAIN IMAGE SO IT SCALES 
   WITHIN THE HEIGHT AND WIDTH AND ALSO 
   COVERS THE RATIO */
.main-image img {
    width: 100%;  
    height: 100%; 
    object-fit: cover; 
}

/* STYLING FOR THE INFORMATION HEADER */
.random-information-header {
    font-size: 36px;
    color: #1F2937;
    padding: 50px;
    display: flex;
    justify-content: center;
}

/* STYLING FOR THE FLEX OF THE IMAGES */
.information-images {
    display: flex;
    gap: 10px;
    justify-content: space-around; 
    padding: 20px;
    margin-bottom: 120px;
}

/* STYLING FOR THE DIV OF THE IMAGES */
.information-images div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* STYLING FOR THE IMAGES TO BE 100X100 PIXELS */
.information-images img {
    border: 3px solid lightblue;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
}

/* STYLING FOR THE IMAGES TEXT */
.information-images p {
    justify-content: center;
    margin: 0;
    margin-top: 15px;
}

/* STYLING FOR THE QUOTE SECTION */
.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 350px;
}

/* STYLING FOR THE QUOTE TEXT */
.main-quote {
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-right: 250px;
    margin-left: 250px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

/* STYLING FOR THE -RYO YAMADA SOURCE */
.said-by {
    display: block;
    margin-top: 30px;
    text-align: end;
}



